<%- include("./partials/header") %> 
<div class="container">
    <h1>Login!</h1>

    <form class="form-inline" action="/login" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name= "username" placeholder="username">
            <input class="form-control" type="password" name= "password" placeholder="password">
            <input class="btn btn-primary" type="submit" value= "Login">
        </div>
    </form>
</div>


<%- include("./partials/footer") %> 