<%- include("./partials/header") %> 
<h1>Sign Up!</h1>

<form class="form-inline" action="/register" method="POST">
    <div class="form-group">
        <input class= 'form-control' type="text" name="username" placeholder="username">
        <input class= 'form-control' type="password" name="password" placeholder="password">
        <button class= 'btn btn-primary'>Sign Up</button>
    </div>
</form>

<%- include("./partials/footer") %> 